*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial","Verdana";
    font-size: 18px;
}

h1,h2{
    
    color: green;
}

h1{
    
    font-size: 40px;
    padding-bottom: 25px;
 }

h2{
    font-size: 26px;
    padding-bottom: 15px;
}

.main-text{
    text-align: justify;
    padding-bottom: 15px;
}

.container {
    width: 1140px;
    margin: 15px auto 0 auto;
}

.main-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-post {
    width: 25%;
    float: left;
}

.author-text{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.author-post {
    border-top: 1px solid #3b3b3b;
    padding-top: 15px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.other {
    margin-bottom: 55px;
}

.author-post img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.date{
    position: absolute;
    top: 20px;
    right: 30px;
    
}